@charset "UTF-8";
/* CSS Document */
body {
  background-color: #fff;
  background-image: linear-gradient(
    45deg,
    #fdfdfd,
    rgb(255, 255, 255),
    #ffffff
  );
  background-position: center;
  background-size: 80% 80%;
  background-repeat: no-repeat;background-size: contain;
}
.main__bg {
  background-image: linear-gradient(
    45deg,
    #47ffe5,
    rgba(198, 174, 251, 1),
    #ff90a8
  );
  animation: slide 3s ease-in-out infinite alternate;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -50%;
  right: -50%;
  opacity: 0.5;
  z-index: -1;
  
}
.layer1 {
  background-color: #e5e5f7;
  opacity: 0.4;
  z-index: -1;
  background-image: linear-gradient(
      30deg,
      #9320be 12%,
      transparent 12.5%,
      transparent 87%,
      #9320be 87.5%,
      #9320be
    ),
    linear-gradient(
      150deg,
      #9320be 12%,
      transparent 12.5%,
      transparent 87%,
      #9320be 87.5%,
      #9320be
    ),
    linear-gradient(
      30deg,
      #9320be 12%,
      transparent 12.5%,
      transparent 87%,
      #9320be 87.5%,
      #9320be
    ),
    linear-gradient(
      150deg,
      #9320be 12%,
      transparent 12.5%,
      transparent 87%,
      #9320be 87.5%,
      #9320be
    ),
    linear-gradient(
      60deg,
      #9320be77 25%,
      transparent 25.5%,
      transparent 75%,
      #9320be77 75%,
      #9320be77
    ),
    linear-gradient(
      60deg,
      #9320be77 25%,
      transparent 25.5%,
      transparent 75%,
      #9320be77 75%,
      #9320be77
    );
  background-size: 44px 77px;
  background-position: 0 0, 0 0, 22px 39px, 22px 39px, 0 0, 22px 39px;
  animation-direction: alternate-reverse;
  animation-duration: 45s;
}

.layer2 {
  z-index: -1;
  background-image: linear-gradient(
    45deg,
    #47ffe5,
    rgba(198, 174, 251, 1),
    #ff90a8
  );
}
@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}