@charset "UTF-8";
/* CSS Document */
html, body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }
.main__bg {
  background-image: linear-gradient(
    45deg,
    #47ffe5,
    rgba(198, 174, 251, 1),
    #ff90a8
  );
  background-size: 200%;
  animation: slide 4s ease-in-out infinite alternate;
  width: 200%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -50%;
  right: -50%;
  opacity: 0.5;
  z-index: -1;
}
.layer1 {
  opacity: 0.4;
  z-index: -1;
  background-image: linear-gradient(
      30deg,
      #9320be 12%,
      transparent 12.5%,
      transparent 87%,
      #9320be 87.5%,
      #9320be
    ),
    linear-gradient(
      150deg,
      #9320be 12%,
      transparent 12.5%,
      transparent 87%,
      #9320be 87.5%,
      #9320be
    ),
    linear-gradient(
      30deg,
      #9320be 12%,
      transparent 12.5%,
      transparent 87%,
      #9320be 87.5%,
      #9320be
    ),
    linear-gradient(
      150deg,
      #9320be 12%,
      transparent 12.5%,
      transparent 87%,
      #9320be 87.5%,
      #9320be
    ),
    linear-gradient(
      60deg,
      #9320be77 25%,
      transparent 25.5%,
      transparent 75%,
      #9320be77 75%,
      #9320be77
    ),
    linear-gradient(
      60deg,
      #9320be77 25%,
      transparent 25.5%,
      transparent 75%,
      #9320be77 75%,
      #9320be77
    );
  background-size: 44px 77px;
  background-position: 0 0, 0 0, 22px 39px, 22px 39px, 0 0, 22px 39px;
  animation-direction: alternate-reverse;
  animation-duration: 45s;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  block-size: 23.2rem !important;
  
}

.layer2 {
  z-index: -1;
  background-image: linear-gradient(
    45deg,
    #47ffe5,
    rgba(198, 174, 251, 1),
    #ff90a8
  );
  width: max-content;
  width: 200%;
}
.footer__bg {
    opacity: 0.4;
  background-image: linear-gradient(
      30deg,
      #9320be 12%,
      transparent 12.5%,
      transparent 87%,
      #9320be 87.5%,
      #9320be
    ),
    linear-gradient(
      150deg,
      #9320be 12%,
      transparent 12.5%,
      transparent 87%,
      #9320be 87.5%,
      #9320be
    ),
    linear-gradient(
      30deg,
      #9320be 12%,
      transparent 12.5%,
      transparent 87%,
      #9320be 87.5%,
      #9320be
    ),
    linear-gradient(
      150deg,
      #9320be 12%,
      transparent 12.5%,
      transparent 87%,
      #9320be 87.5%,
      #9320be
    ),
    linear-gradient(
      60deg,
      #9320be77 25%,
      transparent 25.5%,
      transparent 75%,
      #9320be77 75%,
      #9320be77
    ),
    linear-gradient(
      60deg,
      #9320be77 25%,
      transparent 25.5%,
      transparent 75%,
      #9320be77 75%,
      #9320be77
    );
  background-size: 44px 77px;
  background-position: 0 0, 0 0, 22px 39px, 22px 39px, 0 0, 40px 75px;
  animation-direction: alternate-reverse;
  animation-duration: 45s;
  position: absolute;
  top: bottom - 100px;
  bottom: 20px;
  z-index: 1;
  block-size: 40rem !important;
}
.footer__bg2 {
  z-index: -1;
  background-image: linear-gradient(
    45deg,
    #47ffe5,
    rgba(198, 174, 251, 1),
    #ff90a8
  );
  width: max-content;
  width: 200%;
}
@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

@media  screen and (min-width: 601px) {
.layer4 {
  display: none;
}

}

@media only screen and (max-width: 600px) {
  .layer1 {
    block-size: 25.5rem !important;
  }
  html, body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }
  
}
