@charset "UTF-8";
/* CSS Document */
form {
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding: 1rem;
      background-color: #ffffff9f;
      border-radius: 1rem;
      box-shadow: 1rem;
      font-family: tenon, sans-serif;
      font-style: normal;
      font-weight: 200;
      font-size: .9rem;
      line-height: 1.5;
      color: #000;
      padding: 1rem;
      text-shadow: 1.5rem;
      /*make the form boxes allign in a single column*/
      display: flex;
      flex-direction: column;
      /*align the form boxes to the center*/
      align-items: Left;
      /*make the selection box and text in one row*/
      flex-wrap: wrap;
}
#emailtext {
      padding-right: 2rem;
}
#messageprompt {

}
#applytext {

}
#updatestext {

}
#submitbutton {

}
@media only screen and (max-width: 600px) {
      
}