@charset "UTF-8";
/* CSS Document */
#blockchain {
   float: right;
   padding: 8rem 0rem;
   flood-opacity: 30%;
   size-adjust: 20%;
   overflow: hidden;
   position: relative;
   z-index: 90;
} 
#community{
   position: center;
}
#vote {
   float: left;
   padding: 8rem 0rem;
   flood-opacity: 30%;
   size-adjust: 20%;
   overflow: hidden;
   position: relative;
   z-index: 90;
} 
#allforone {
   position: center;
   margin-left: 30%;
}
#decentralarc {
   float: right;
   overflow:hidden;
   position:relative;

}
#usercontrol {
   float: right;
   overflow:hidden;
   position:relative;
}
#crypto {
   float: right;
   overflow:hidden;
   position:relative;
   z-index: 90;
}
#communitygov {
   float: right;
   overflow:hidden;
   position:relative;
   z-index: 90;
}
#incentives {
   float: left;
   overflow:hidden;
   position:relative;
   z-index: 90;
}
#contactus {
   float: right;
   overflow:hidden;
   position:relative;
   z-index: 90;
}
#faq {
float: right;
   overflow:hidden;
   position:relative;
   z-index: 90;
}
#faqtwopic {
float: right;
   overflow:hidden;
   position:relative;
   z-index: 90;
}
#workwithus {
float: center;
   overflow:hidden;
   position:relative;
   z-index: 90;
   padding-left: 25rem;
}
#teamwork {
   float: right;
   overflow:hidden;
   position:relative;
   z-index: 90;
}
#government {
   float: right;
   overflow:hidden;
   position:relative;
   z-index: 90;
}
#events {
   float: right;
   overflow:hidden;
   position:relative;
   z-index: 90;
}
#follow {
   float: right;
   overflow:hidden;
   position:relative;
   z-index: 90;
}
.hide {
   display: none;
}
#mission {
   float: right;
   overflow: hidden;
   position: relative;
   z-index: 90;
}
#joinus {
   float: right;
   overflow: hidden;
   position: relative;
   z-index: 90;
}
#socialmedia {
   float: right;
   overflow: hidden;
   position: relative;
   z-index: 90;
   left: 3rem;
}
#rewards {
   float: left;
   overflow: hidden;
   position: relative;
   z-index: 90;
   word-wrap: break-word;

}
#overviewpic {
   float: right;
   overflow: hidden;
   position: relative;
   z-index: 90;
}
#signup {
   float: right;
   overflow: hidden;
   position: relative;
   z-index: 90;
}
#learner{
   position: center;
}
@media only screen and (max-width: 1000px) {
   #mission {
      padding: 1vw;
      height: 20vw;
      margin-right: 10vw;
   }
   #joinus {
      padding: 1vw;
      height: 20vw;
      margin-top: 50vw;
   }
   #vote {
      padding: 1vw;
      height: 20vw;
      margin-top: 50vw;
   }
   #community {
      padding: 1vw;
      height: 20vw;
      justify-content: center;
   }
   #workwithus {
      padding: 1vw;
      height: 25vw;
      margin-left: 10vw;
   }
   #follow {
      padding: 2vw;
      height: 20vw;
      margin-right: -5vw;
      margin-top: 12vw;
   }
   #faqtwopic {
      padding: 2vw;
      height: 25vw;
   }
   #faq {
      padding: 1vw;
      height: 20vw;
      margin-right: -5vw;
   }
   #contactus {
      padding: 1vw;
      height: 20vw;
      margin-right: -5vw;
      margin-top: 10vw;
   }
   #rewards {
      padding: 1vw;
      height: 12.5vw;
      margin-top: 10vw;
   }
   #incentives {
      padding: 1vw;
      height: 12vw;
      margin-top: 10vw;
   }
   #socialmedia {
      padding: 1vw;
      height: 10vw;
      margin-right: 10vw;
      margin-top: 10vw;
   }
   #government {
      padding: 1vw;
      height: 20vw;
      margin-top: 5vw;
   }
   #teamwork {
      padding: 1vw;
      height: 20vw;
      margin-right: 2vw;
   }
   #decentralarc {
      padding: 1vw;
      height: 20vw;
      margin-right: 2vw;
   }
   #usercontrol {
      padding: 1vw;
      height: 20vw;
      margin-right: 2vw;
   }
   #crypto {
      padding: 2vw;
      height: 20vw;
      margin-right: 2vw;
   }
   #communitygov {
      padding: 0vw;
      height: 30vw;
      margin-top: 10vw;
      margin-right: 2vw;
   }
   #events {
      padding: 1vw;
      height: 12vw;
      margin-top: 10vw;
   }
   #overviewpic {
      padding: 1vw;
      height: 20vw;
   }
   #signup {
      padding: 1vw;
      height: 20vw;
      margin-top: 5vw;
   }
   #blockchain {
      size-adjust: max_size;
      position: relative;
   }
   #learner {
      padding: 1vw;
      height: 20vw;
      margin-left: 20vw;
   }
   #allforone {
      padding: 1vw;
      height: 20vw;
      justify-content: center;
   }
   #blockchain {
      padding: 1vw;
      height: 20vw;
   }
   .mainlogo {
      position: relative;
      bottom: 1.5rem;
   }

}
