@charset "UTF-8";
/* CSS Document */
#blockchain {
   float: right;
   padding: 8rem 0rem;
   flood-opacity: 30%;
   size-adjust: 20%;
   overflow: hidden;
   position: relative;
   z-index: 90;
} 
#community{
   position: center;
}
#vote {
   float: left;
   padding: 8rem 0rem;
   flood-opacity: 30%;
   size-adjust: 20%;
   overflow: hidden;
   position: relative;
   z-index: 90;
} 
#allforone {
   position: center;
   margin-left: 30%;
}
#decentralarc {
   float: right;
   overflow:hidden;
   position:relative;

}
#usercontrol {
   float: right;
   overflow:hidden;
   position:relative;
}
#crypto {
   float: right;
   overflow:hidden;
   position:relative;
   z-index: 90;
}
#communitygov {
   float: right;
   overflow:hidden;
   position:relative;
   z-index: 90;
}
#incentives {
   float: left;
   overflow:hidden;
   position:relative;
   z-index: 90;
}
#contactus {
   float: right;
   overflow:hidden;
   position:relative;
   z-index: 90;
}
#faq {
float: right;
   overflow:hidden;
   position:relative;
   z-index: 90;
}
#faqtwopic {
float: right;
   overflow:hidden;
   position:relative;
   z-index: 90;
}
#workwithus {
float: center;
   overflow:hidden;
   position:relative;
   z-index: 90;
   padding-left: 25rem;
}
#teamwork {
   float: right;
   overflow:hidden;
   position:relative;
   z-index: 90;
}
#government {
   float: right;
   overflow:hidden;
   position:relative;
   z-index: 90;
}
#events {
   float: right;
   overflow:hidden;
   position:relative;
   z-index: 90;
}
#follow {
   float: right;
   overflow:hidden;
   position:relative;
   z-index: 90;
}
.hide {
   display: none;
}
#mission {
   float: right;
   overflow: hidden;
   position: relative;
   z-index: 90;
}
#joinus {
   float: right;
   overflow: hidden;
   position: relative;
   z-index: 90;
}
#socialmedia {
   float: right;
   overflow: hidden;
   position: relative;
   z-index: 90;
   left: 3rem;
}
#rewards {
   float: left;
   overflow: hidden;
   position: relative;
   z-index: 90;
   word-wrap: break-word;

}
#overviewpic {
   float: right;
   overflow: hidden;
   position: relative;
   z-index: 90;
}
#signup {
   float: right;
   overflow: hidden;
   position: relative;
   z-index: 90;
}
#learner{
   position: center;
}
@media only screen and (max-width: 600px) {
   #mission {
      display: none;
   }
   #joinus {
      display: none;
   }
   #vote {
      display: none;
   }
   #community {
      display: none;
   }
   #workwithus {
      position:relative;
      position: center;
      size-adjust: max_size;
   }
   #follow {
      size-adjust: max_size;
      position: relative;
   }
   #faqtwopic {
      size-adjust: max_size;
      position: relative;
   }
   #faq {
      size-adjust: max_size;
      position: relative;
   }
   #contactus {
      size-adjust: max_size;
      position: relative;
   }
   #rewards {
      size-adjust: max_size;
      position: relative;
   }
   #incentives {
      size-adjust: max_size;
      position: relative;
   }
   #socialmedia {
      size-adjust: max_size;
      position: relative;
   }
   #government {
      size-adjust: max_size;
      position: relative;
   }
   #teamwork {
      size-adjust: max_size;
      position: relative;
   }
   #decentralarc {
      size-adjust: max_size;
      position: relative;
   }
   #usercontrol {
      size-adjust: max_size;
      position: relative;
   }
   #crypto {
      size-adjust: max_size;
      position: relative;
   }
   #communitygov {
      size-adjust: max_size;
      position: relative;
   }
   #events {
      size-adjust: max_size;
      position: relative;
   }
   #overviewpic {
      size-adjust: max_size;
      position: relative;
   }
   #signup {
      size-adjust: max_size;
      position: relative;
   }
   #blockchain {
      size-adjust: max_size;
      position: relative;
   }
   #learner {
      size-adjust: max_size;
      position: relative;
   }
   #allforone {
      size-adjust: max_size;
      position: relative;
   }
   #blockchain {
      size-adjust: max_size;
      position: relative;
   }
   .mainlogo {
      position: relative;

      bottom: 1.5rem;
   }
}