@charset "UTF-8";
/* CSS Document */
#blockchain {
   float: right;
   padding: 8rem 0rem;
   flood-opacity: 30%;
   size-adjust: 20%;
   overflow: hidden;
   position: relative;
   z-index: 90;
} 
#community{
   position: center;
}
#vote {
   float: left;
   padding: 8rem 0rem;
   flood-opacity: 30%;
   size-adjust: 20%;
   overflow: hidden;
   position: relative;
   z-index: 90;
} 
#allforone {
   position: center;
   margin-left: 30%;
}
#decentralarc {
   float: right;
   overflow:hidden;
   position:relative;

}
#usercontrol {
   float: right;
   overflow:hidden;
   position:relative;
}
#crypto {
   float: right;
   overflow:hidden;
   position:relative;
   z-index: 90;
}
#communitygov {
   float: right;
   overflow:hidden;
   position:relative;
   z-index: 90;
}
#incentives {
   float: left;
   overflow:hidden;
   position:relative;
   z-index: 90;
}
#contactus {
   float: right;
   overflow:hidden;
   position:relative;
   z-index: 90;
}
#faq {
float: right;
   overflow:hidden;
   position:relative;
   z-index: 90;
}
#faq2 {
float: right;
   overflow:hidden;
   position:relative;
   z-index: 90;
}
#workwithus {
float: left;
   overflow:hidden;
   position:relative;
   z-index: 90;
   word-wrap:unset;
}
#teamwork {
   float: right;
   overflow:hidden;
   position:relative;
   z-index: 90;
}
#government {
   float: right;
   overflow:hidden;
   position:relative;
   z-index: 90;
}
#events {
   float: right;
   overflow:hidden;
   position:relative;
   z-index: 90;
}
#follow {
   float: right;
   overflow:hidden;
   position:relative;
   z-index: 90;
}
.hide {
   display: none;
}
#mission {
   float: right;
   overflow: hidden;
   position: relative;
   z-index: 90;
}
#joinus {
   float: right;
   overflow: hidden;
   position: relative;
   z-index: 90;
}
#socialmedia {
   float: right;
   overflow: hidden;
   position: relative;
   z-index: 90;
   left: 3rem;
}
#rewards {
   float: left;
   overflow: hidden;
   position: relative;
   z-index: 90;
   word-wrap: break-word;

}
#overviewpic {
   float: right;
   overflow: hidden;
   position: relative;
   z-index: 90;
}
#signup {
   float: right;
   overflow: hidden;
   position: relative;
   z-index: 90;
}
#learner{
   position: center;
}