@charset "UTF-8";
/* CSS Document */
.navbar {
   list-style: none;
   padding-top: 0;
   margin-top: 0;
   padding-left: 20%;
   padding-right: 20%;
   width: 60%;
   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
   /* place the navbar at the top of the page */
   position: fixed;
   top: 0;
   /* make the navbar span the entire width of the page */
   left: 0;
   z-index: 100;
   background-color: #ffffff76;
   background-size:contain;
   padding-bottom: 0;
   margin-bottom: 0;
   border-bottom-right-radius: 2rem;
   border-bottom-left-radius: 2rem;
   
}

.navbar li {
   
   display: block;
   width:18%;
   float: left;
   text-align: center;
   border-bottom: none;
}

.navbar li a {
   display:block;
	padding:2px;
	text-decoration:none;
	background-color: none;
	color:rgb(0, 0, 0);
}

.navbar li a:hover {
   text-decoration: underline;
   color:#9867e8;
}

.socials {
list-style: none;
   padding-top: 0;
   margin-top: 0;
   padding-left: 93rem;
   width: 15rem;
   position: absolute;
   top: 9.5rem;
}
.socials li {
   display: block;
   width:2rem;
   height: 2rem;
   float: left;
   text-align: center;
}
.indoc {
   list-style: none;
   width: 100%;
   left: 0;
   border-bottom-right-radius: 2rem;
   border-bottom-left-radius: 2rem;
}
.indoc li {
   display: block;
   width: 1rem;
   height: 1rem;
   padding-left: 0rem;
   padding-right: 5rem;
   float: left;
   text-align: center;
   border-bottom: none;
}
.logo {
   image-rendering: optimizeQuality;
}
@media only screen and (max-width: 600px) {
.navbar {
   mask-image: url(../images/saturn-filled.svg);
   position: fixed;
   top: 0;
   /* make the navbar span the entire width of the page */
   left: 0;
   z-index: 100;
   background-color: #ffffff76;
   background-size:contain;
   padding-bottom: 0;
   margin-bottom: 0;
   border-bottom-right-radius: 2rem;
   border-bottom-left-radius: 2rem;
   
}

.navbar li {
   
   display: block;
   width:20%;
   float: left;
   text-align: center;
   border-bottom: solid;
   border-color: #5555559c;
}

.navbar li a {
   display: none;
}

.navbar li a:focus {
   text-decoration: underline;
   display:block;
	padding:2px;
	text-decoration:none;
	background-color: none;
	color:rgb(255, 249, 249);
}
}