@charset "UTF-8";
/* CSS Document */
.navbar {
   list-style: none;
   padding-top: 0;
   margin-top: 0;
   padding-left: 20vw;
   padding-right: 20vw;
   width: 60%;
   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
   /* place the navbar at the top of the page */
   position: fixed;
   top: 0;
   /* make the navbar span the entire width of the page */
   left: 0;
   z-index: 100;
   background-color: #ffffff76;
   background-size:contain;
   padding-bottom: 0;
   margin-bottom: 0;
   border-bottom-right-radius: 2rem;
   border-bottom-left-radius: 2rem;
   
}

.navbar li {
   
   display: block;
   width:20%;
   float: left;
   text-align: center;
   border-bottom: none;
}

.navbar li a {
   display:block;
	padding:2px;
	text-decoration:none;
	background-color: transparent;
	color:rgb(0, 0, 0);
}

.navbar li a:hover {
   text-decoration: underline;
   color:#9867e8;
}

.socials {
list-style: none;
   padding-top: 0;
   margin-top: 0;
   position: absolute;
   right:2%;

   position: relative;

}
.socials #index{
list-style: none;
   padding-top: 0;
   margin-top: 0;
   position: absolute;
   top: 2vw;
   left:80vw;

   position: relative;

}
.socials li {
   display: block;
   width:2rem;
   height: 2rem;
   float: right;
   justify-self: right;
}
.indoc {
   list-style: none;
   width: 100%;
   left: 0;
   border-bottom-right-radius: 2rem;
   border-bottom-left-radius: 2rem;
}
.indoc li {
   display: block;
   width: 1rem;
   height: 1rem;
   padding-left: 0rem;
   padding-right: 5rem;
   float: left;
   text-align: center;
   border-bottom: none;
}
.logo {
   image-rendering: optimizeQuality;
}
@media  screen and (min-width: 726px) {
.mobilenavigator {
   display: none;

}
}
@media only screen and (max-width: 725px) {
.navbar {
   display: none;
}
.indoc li {
   display: block;
   width: 1rem;
   height: 1rem;
   padding-left: 0rem;
   padding-right: 3rem;
   float: left;
   text-align: center;
   border-bottom: none;
}
.socials {
list-style: none;
   padding-top: 0;
   margin-top: 0;
   padding-left: 0rem;
   width: 100%;
   position: relative;
   justify-content: right;
   display: inline-block;
   top: 8.1rem;
   padding-bottom: 0;
}
.socials li {
   display: block;
   width:2rem;
   height: 2rem;
   float: left;
   padding-right: 2.84rem;
   text-align: center;
}
.socials #discord {
   padding-right: 0rem;
}



   /*EXPERIMENTAL AREA*/
   :root{
    --white: #f9f9f9;
    --black: #36383F;
    --gray: #85888C;
} /* variables*/

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-bottom: 0;
}

#mobile {
    list-style: none;
}
.mobilenavigator{
    background-color: var(--black);
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 120;
}
/* Logo */

#navmobile{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--white);
    overflow: hidden;
}
.menumobile a{
    display: block;
    color: var(--black);
}
.menumobile a:hover{
    
    color: #9867e89c;
   }
#navmobile{
    max-height: 0;
    transition: max-height .5s ease-out;
}
.hamb{
    cursor: pointer;
    float: right;
    padding: 15px 0px;
}/* Style label tag */

.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
      z-index: 110;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
}
.side-menu:checked ~ #navmobile{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}
#navitem, .homebutton, .missionbutton, 
.featuresbutton, .communitybutton, 
.contactbutton {
      padding: 40px;
      font-size: 20px;
      font-weight: 200;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: var(--black);
      text-decoration: none;
      transition: color .3s;
}
.socials {
list-style: none;
   padding-top: 0;
   margin-top: 0;
   position: absolute;
   left:40vw;

   position: relative;
}
}
