@charset "UTF-8";
/* CSS Document */
.title {
  margin-left: 25%;
  margin-right: 25%;
}
p {
  margin-left: 25%;
  margin-right: 30%;
}
h2 {
  margin-left: 25%;
  margin-right: 25%;
}
h3 {
  margin-left: 25%;
  margin-right: 25%;
}
h1 {
  margin-left: 25%;
  margin-right: 25%;
}
.indoc {
  margin-left: 25%;
  margin-right: 25%;
}
form {
  margin-left: 25%;
  margin-right: 25%;
}
.logo {
  margin-top: 3%;
  margin-left: 0%;
  margin-right: 5%;
}
.indoc {
  margin-left: 25%;
  margin-right: 25%;
}
.feature {
  padding-bottom: 10rem;
}
.content {
  padding-bottom: 5rem;
}
.special {
  position: relative;
  right: 8rem;
}