@charset "UTF-8";
/* CSS Document */
.title {
   font-family: 'Open Sans', sans-serif;
   font-size: 16rem;
   line-height: 1.5;
   color: #fff;
   padding: 1rem;
   margin-top: 1rem;
   margin-bottom: 1rem;
}

p {
   font-family: New-order, sans-serif;
   font-weight: 200;
   font-size: 1.5rem;
   line-height: 1.5;
   color: #fffbfb;
   border-radius: 10px;
   padding: 0rem;
   filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.404));
   z-index: 1;

}
h2 {
   font-family: neue-haas-grotesk-text, sans-serif;
font-style: normal;
font-weight: 100;
   font-size: 2rem;
   line-height: 1.5;
   color: #ffffff;
   padding: 1rem;
   margin-top: 1rem;
   margin-bottom: 1rem;
   filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.404));
}
h3 {
   font-family: neue-haas-grotesk-text, sans-serif;
   font-style: normal;
   font-weight: 100;
   font-size: 1.5rem;
   text-decoration: underline;
   line-height: 1.5;
   color: #fff;
   padding: 1rem;
   filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.404));  
}
h1 {
   font-family: neue-haas-grotesk-text, sans-serif;
   font-weight: 300;
   font-size: 4rem;
   line-height: 1.5;
   color: #fff;
   padding: 1rem;
   margin-top: 1rem;
   filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.404));
}
ul {
   font-family: tenon, sans-serif;
   font-style: normal;
   font-weight: 200;
   font-size: 1.5rem;
   line-height: 1.5;
   color: #fff;
   padding: 1rem;
   margin-top: 1rem;
   margin-bottom: 1rem;
   list-style-type: none;
}
#nav-item, .home-button, 
.mission-button, .features-button, 
.community-button, .contact-button {
   font-family: tenon, sans-serif;
   font-style: normal;
   font-weight: 200;
   font-size: 1.2rem;
}
#submit-button {
   font-family: tenon, sans-serif;
   font-style: normal;
   font-weight: 200;
   font-size: 0.8rem;
   filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.404));
}

label {
   color: transparent;
   padding: 0px;
   margin: -1px;
}
@media only screen and (max-width: 1000px) {
   h2 {
   font-family: neue-haas-grotesk-display, sans-serif;
   font-style: normal;
   font-weight: 100;
   font-size: 1.7rem;
   line-height: 1.5;
   color: #fff;
   filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.404));
}
h1 {
   font-family: neue-haas-grotesk-display, sans-serif;
   font-weight: 300;
   font-size: 3rem;
   line-height: 1.5;
   color: #fff;
   margin-top: 1rem;
   filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.404));
}
p {
   font-family: New-order, sans-serif;
   font-weight: 200;
   font-size: 1.2rem;
   line-height: 1.5;
   color: #ffffff;
   padding: 0rem;
   filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.404));


}
}